<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>二维码生成demo</title>

    <!--外部css和js开始-->
    @include("/common/plugins.html"){}
    <link rel="stylesheet" href="${ctxPath}/static/assets/lib/highlight/styles/routeros.css">
    <script src="${ctxPath}/static/assets/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        pre {
            position: relative;
            margin: 10px 0;
            line-height: 20px;
            border: 1px solid #ddd;
            border-left-width: 6px;
            background-color: #F2F2F2;
        }
        p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            margin-bottom: 10px;
            line-height: 22px;
        }
    </style>
    <!--外部css和js结束-->

</head>
<body>
<div class="weadmin-body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">Demo</li>
            <li>Java</li>
            <li>JavaScript</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div>
                    <p>根据输入字符串生成二维码，直接展示在页面上</p>
                    <form class="layui-form">
                        <div class="layui-form-item clearfix">
                            <div class="layui-input-inline">
                                <input id="contentTwo" name="contentTwo"  class="layui-input" placeholder="请输入字符串"  >
                            </div>
                            <div class="layui-input-inline">
                                <button lay-submit lay-filter="verify" type="button" class="layui-btn" id="createAndDisplayBtn">生成</button>
                            </div>
                        </div><br>
                    </form>
                    <p>生成后的二维码图片</p>
                    <form class="layui-form">
                        <div class="layui-form-item clearfix">
                            <div id="imgDiv" class="layui-input-inline">
                                <img class="layui-upload-img" id="demoImg" src="" style="margin-bottom: 1%;margin-left: 2%">
                            </div>
                        </div><br>
                    </form>
                </div>
                <blockquote class="layui-elem-quote">
                    根据输入字符串生成二维码，直接展示在页面上。<br>
                </blockquote>
            </div>
            <div class="layui-tab-item">
        <pre><code class="java">/**
 * 类的用途：二维码生成Demo
 * 创建日期：2018年10月18日
 * 修改历史：
 * 修改日期：2018年10月18日
 * 修改作者：XinXueLei
 * 修改内容：修改内容
 * \@author XinXueLei
 * \@version 1.0
 */
\@RequestMapping("/encoderQRCodeDemo")
\@Controller
public class EncoderQRCodeDemo extends BaseController {
    /**
     *
     * 二维码生成demo页面
     * \@Title: view
     * \@author: XinXueLei
     * \@return 页面
     */
    \@RequestMapping("/view")
    public String view(Model model) {
        return "/hussardemo/encoderQRCodeDemo.html";
    }

    /**
     *
     * 生成二维码
     * \@author: XinXueLei
     * \@return String
     */
    \@RequestMapping("/createAndDisplay")
    \@ResponseBody
    public void createAndDisplay(HttpServletRequest request, HttpServletResponse response) throws IOException {
        String content = super.getPara("content");
        BufferedImage bufImage = QRCodeUtil.getBufferedImage(content, null);

        // 直接打开图片
        response.setContentType("image/jpg");
        // 直接下载图片
        // resp.setHeader("Content-Disposition", "attachment;filename=" + URLEncoder.encode("cc.jpg", "UTF-8"));
        // 将图片写出到浏览器
        OutputStream out = response.getOutputStream();
        ImageIO.write(bufImage, "jpg", out);
        out.close();
    }
}
        </code></pre>
            </div>
            <div class="layui-tab-item">
        <pre><code class="javaScrift">/**
 * \@Description: 二维码生成Demo脚本文件
 * \@Author: xinxuelei
 * \@Date: 2018/10/18
 */
layui.use(['jquery','layer','Hussar','HussarAjax','form','element'], function(){
    var Hussar = layui.Hussar;
    var $ = layui.jquery;
    var layer = layui.layer;
    var $ax = layui.HussarAjax;
    var form = layui.form;
    var element = layui.element;

    /**
     * 二维码生成Demo的单例
     */
    var encoderQRCodeDemo = {
        layerIndex: -1
    };

    /**
     *  初始化按钮事件
     */
    encoderQRCodeDemo.initButtonEvnts = function () {
        $("#createAndSaveBtn").click(function(){
            encoderQRCodeDemo.createAndSave();
        });
        $("#createAndDisplayBtn").click(function(){
            encoderQRCodeDemo.createAndDisplay();
        });
    }

    /**
     *  生成二维码并保存到指定路径
     */
    encoderQRCodeDemo.createAndSave = function () {
        var content = $('#content').val();
        if("" != content && null != content){
            var ajax = new $ax(Hussar.ctxPath + "/encoderQRCodeDemo/createAndSave",
                function(result) {
                    if(result.length==0){
                        $("#imgPath").val("无");
                    }else{
                        $("#imgPath").val(result);
                    }
                },
                function(result) {
                    Hussar.error("生成失败!");
                });
            ajax.set("content", content);
            ajax.set("path", "D:/用户目录/我的图片");
            ajax.start();
        }else{
            Hussar.info("字符串不能为空！");
        }
    }
    /**
     *  生成
     */
    encoderQRCodeDemo.createAndDisplay = function () {
        var content = $('#contentTwo').val();
        var src = Hussar.ctxPath +'/encoderQRCodeDemo/createAndDisplay?content=' + content;
        if("" != content && null != content){
            document.getElementById("demoImg").src = src;
        }else{
            Hussar.info("字符串不能为空！");
        }
    }

    $(function () {
        encoderQRCodeDemo.initButtonEvnts();  //初始化按钮事件
    });
});
</code></pre>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/js/hussardemo/encoderQRCodeDemo.js"></script>
</body>
<link rel="stylesheet" href="${ctxPath}/static/css/bsp/project_ext.css">
</html>