<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bootstrap列表demo</title>

    <!--外部css和js开始-->
    @include("/common/plugins_ext.html"){}
    @include("/common/plugins.html"){}
    <link rel="stylesheet" href="${ctxPath}/static/assets/lib/highlight/styles/routeros.css">
    <script src="${ctxPath}/static/assets/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--外部css和js结束-->

</head>
<body>
<div class="weadmin-body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">Demo</li>
            <li>Java</li>
            <li>JavaScript</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form ">
                    <div class="layui-form-item clearfix">
                        <div class="layui-input-inline">
                            <input id="userAccount" name="userAccount" class="layui-input" placeholder="用户账号">
                        </div>
                        <div class="layui-input-inline">
                            <input id="userName" name="userName" class="layui-input" placeholder="用户名称">
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" id="btnSearch"><i class="layui-icon">&#xe615;</i>查询</button>
                            <button type="reset" class="layui-btn"  ><i class="layui-icon">&#xe00A;</i>重置</button>
                        </div>
                        <div class="layui-input-inline" style="width: 270px">
                            <button class="layui-btn" type="button" id="getCheckData">获取选中行数据</button>
                            <button type="button" class="layui-btn" id="getCheckLength">获取选中数目</button>
                        </div>
                    </div>
                </form>

                <div class="tableBox ">
                    <table id="userTable"></table>
                </div>

            </div>

            <div class="layui-tab-item">
                <pre><code class="java">/**
 * 类的用途：普通查询列表Demo
 * 创建日期：2018/6/6 9:15 ;
 * 修改历史：
 * 修改日期：2018/6/6 9:15 ;
 * 修改作者：LiangDong ;
 * 修改内容：
 * \@author LiangDong ;
 * \@version 1.0
 */
\@Controller
\@RequestMapping("/queryTable")
public class QueryTableDemo extends BaseController {

    /**
     * 用户管理服务 接口
     */
    \@Resource
    private ISysUsersService iSysUsersService;

    /**
     * 字典相关的工具类
     */
    \@Resource
    private DictionaryUtil dictionaryUtil;

    \@RequestMapping("/view")
    \@RequiresPermissions("queryTable:view")
    public String index(Model model) {
        model.addAttribute("isAdmin",dictionaryUtil.getDictListJsonObjectByType("yes_no"));
        return "/hussardemo/queryTableDemo.html";
    }

    \@RequestMapping("/userList")
    \@ResponseBody
    public Object userTableList(\@RequestBody HussarPager&lt;SysUsers&gt; hussarPager) {
        SysUsers sysUsers = hussarPager.getQuery();
        Page&lt;SysUsers&gt; page = new Page(hussarPager.getPageNumber(), hussarPager.getPageSize());
        String userAccount = "";
        String userName = "";
        if (ToolUtil.isNotEmpty(sysUsers)) {
            userAccount = sysUsers.getUserAccount();
            userName = sysUsers.getUserName();
        }
        page = this.iSysUsersService.getUserList(page, userAccount, userName);
        return super.packForBT(page);
    }

}</code></pre>
            </div>

            <div class="layui-tab-item">
                <pre><code class="javascript">/**
 * \@Description: 定义查询列表Demo脚本文件
 * \@Author: liangdong
 * \@Date: 2018/6/6.
 */
layui.use(['jquery','bootstrap_table_edit','layer','Hussar','element'], function(){
	var Hussar = layui.Hussar;
	var $ = layui.jquery;
	var layer = layui.layer;
	var $ax = layui.HussarAjax;

	var QueryList = {
		    layerIndex: -1,
		    seItem: null,	//选中的条目
                    table: $("#userTable"),
	    };

    QueryList.initColumn = function () {
        var columns;
        columns = [
            [
                {checkbox: true},
                {
                    title: '序号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        //return index+1; //序号正序排序从1开始
                        var pageSize=$('#userTable').bootstrapTable('getOptions').pageSize;//通过表的#id 可以得到每页多少条
                        var pageNumber=$('#userTable').bootstrapTable('getOptions').pageNumber;//通过表的#id 可以得到当前第几页
                        return pageSize * (pageNumber - 1) + index + 1;    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                    }
                },
                {   field: 'userAccount',
                    title: '用户账号',
                    align: 'center',
                    visible:false
                },
                {
                    field: 'userName',
                    title: '用户名称',
                    align: 'center',
                },
                {
                    field: 'mobile',
                    title: '手机',
                    align: 'center',
                },
                {
                    field: 'isSys',
                    title: '是否管理员',
                    align: 'center',
                    formatter: QueryList.dictEach,
                },
                {   field: 'eMail',
                    title: '邮箱',
                    align: 'center',
                },
                {   field: 'userOrder',
                    title: '排序',
                    align: 'center',
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                }
            ]
        ];
        return columns;
    };

    QueryList.dictEach = function(value, row, index){
        for(i in isAdmin){
            if(isAdmin[i].VALUE == value){
                return isAdmin[i].LABEL;
            }
        }
    };

    QueryList.queryParams = function() {
        var userAccount =$('#userAccount').val();
        var userName =$('#userName').val();
        var temp = {
            pageSize: this.pageSize,   //页面大小
            pageNumber: this.pageNumber, //页码
            query:{
                userAccount: userAccount,
                userName: userName
            }
        };
        return temp;
    }

    /**
	 * 初始化表格
     */
    QueryList.initTableView = function () {
        var self = this;
        self.table.bootstrapTable({
            url: Hussar.ctxPath+'/queryTable/userList',			//请求地址
            method: "post",	//ajax方式,post还是get
            striped: true,     			//是否显示行间隔色
            cache: false,      			//是否使用缓存,默认为true
            pagination: true,     		//是否显示分页（*）
            sortable: true,      		//是否启用排序
            sortOrder: "desc",     		//排序方式
            pageNumber: 1,      			//初始化加载第一页，默认第一页
            pageSize: 10,      			//每页的记录行数（*）
            pageList: [10, 20, 50, 100],  	//可供选择的每页的行数（*）
            queryParamsType: QueryList.queryParams(), 	//默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
            sidePagination: "server",   //分页方式：client客户端分页，server服务端分页（*）
            search: false,      		//是否显示表格搜索，此搜索是客户端搜索，不会进服务端
            strictSearch: true,			//设置为 true启用 全匹配搜索，否则为模糊搜索
            showColumns: false,     		//是否显示所有的列
            showRefresh: false,     		//是否显示刷新按钮
            minimumCountColumns: 2,    	//最少允许的列数
            clickToSelect: true,    	//是否启用点击选中行
            searchOnEnterKey: true,		//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
            columns: QueryList.initColumn(),		//列数组
            pagination: true,			//是否显示分页条
            fixedColumns: true,         //是否进行列的冻结
            fixedNumber: +4,            //冻结几列
            height: $("body").height() - $(".layui-form").outerHeight(true)-100,
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            iconSize: 'outline',
        });
    }

    /**
	 * 	初始化按钮事件
     */
    QueryList.initButtonEvent = function () {
        //	查询按钮事件
        $("#btnSearch").click(function(){
            QueryList.table.bootstrapTable('refresh', {
                query: QueryList.queryParams()
            });
        });
        $("#getCheckLength").click(function(){
            var rows = QueryList.table.bootstrapTable('getSelections');
            layer.msg('选中了：'+ rows.length + ' 个');
        });
        $("#getCheckData").click(function(){
            var rows = QueryList.table.bootstrapTable('getSelections');
            if(rows.length==0){
                layer.msg('请至少选择一条数据');
            }else{
                layer.msg(JSON.stringify(rows));
            }
        });

    }

	$(function () {
		QueryList.initButtonEvent();	//初始化按钮事件
		QueryList.initTableView();	//初始化表格
	});

});</code></pre>
            </div>
        </div>
    </div>

</div>

<script>
    var isAdmin = JSON.parse('${isAdmin}');
</script>
<script src="${ctxPath}/static/js/hussardemo/queryTableDemo.js"></script>
</body>
<link rel="stylesheet" href="${ctxPath}/static/css/bsp/project_ext.css">
</html>