@layout("/common/layout.html",{title:'管理'}){
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="">
        <div class="layui-form-item clearfix">
            <div class="lf">
                <div class="layui-form-item">
                    <div class="layui-inline" style="margin-bottom: 0">
                        <div class="layui-inline" style="float: left">
                            <label class="layui-form-label" style="width: 70px!important;padding-right: 0px!important;padding-left: 0px!important">身份证号:</label>
                            <div class="layui-input-inline" style="width: 160px!important;">
                                <input type="text"  id="idcard" name="title" required  lay-verify="required" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label" style="width:40px!important ;padding-right: 0px!important;padding-left: 0px!important">姓名:</label>
                            <div class="layui-input-inline"style="width: 100px!important;">
                                <input type="text"  id="username" name="title" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label" style="width:65px!important;padding:0 !important;">街道乡镇:</label>
                            <div class="layui-input-inline" style="width: 110px!important;">
                                <select name="quiz1" lay-filter="town" id="town">
                                    <option value="">请选择镇</option>
                                    @for(town in towns){
                                    <option value='${town.town}'>${town.town}</option><!--前面的是map，后面是map里面的值-->
                                    @}
                                </select>
                            </div>
                            <label class="layui-form-label" style="width:70px!important;padding:0 !important;">社区/村组:</label>
                            <div class="layui-input-inline" style="width: 110px!important;">
                                <select name="quiz2" id="allVillage" lay-filter="village">
                                    <option value="">请选择村</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn" id="submit"><i class="layui-icon">&#xe615;</i>查 询</button>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn" id="revert"><i class="layui-icon">&#xe669;</i>重 置</button>
                            <button type="button" class="layui-btn" id="uploadjcsj"style="width:130px"><i class="layui-icon">&#xe67c;</i>基础数据导入</button>
                            <button type="button" class="layui-btn" id="emptyDataBase"style="width:130px">清空数据库</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table id="GxswJcsjInfoTable" ></table>
</div>
<script src="${ctxPath}/static/gxsw/gxswJcsjInfo/gxswJcsjInfo.js"></script>
<style>
    .textOver {
        height: 40px;
        line-height: 40px;
    }
</style>
@}
